.bundle/
.idea/
log/*.log
pkg/
spec/dummy/log*/log
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
.ruby-version
europeana-feedback-button-*.gem
.env
/Gemfile.lock
